ion-searchbar
    {
        margin-bottom: 10px;
        padding-top: 5px;
        margin-top: 5px;
        color:rgb(12, 10, 6);
        --border-radius:10px;
        --placeholder-color:black;
    }
    ion-title
    {
        margin-top: 15px;
        color:rgb(10, 8, 3);
    }
    ion-content{
        --background:#c7b198;
    }
    ion-toolbar{
        --background:#ebecf1
    }
    ion-back-button{
        padding-top: 8px;
        color: black ;
    }

