<!--
<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-button routerLink="/buscarmovies">
    Buscar
  </ion-button>
  <ion-button>
    OTROS
  </ion-button>
</ion-content>
---->
<!---
<ion-content  [fullscreen]="true" class="ion-padding">
  <ion-text>
      <h1>Welcome.</h1>
      <p>hola esta es la pagina de Inicio</p>
  </ion-text>
  <div class="actions">
    <div class="login-butons">
      <ion-button>
        <ion-avatar>
          <img src="../../assets/img/f.png" >
      </ion-avatar>
      <ion-label>Facebook</ion-label>
    </ion-button>
    <ion-button>
      <ion-avatar>
        <img src="../../assets/img/g.png.jpg" >
    </ion-avatar>
    <ion-label>Google</ion-label>
  </ion-button>
    </div>
    <div class="separator">
      <span>or</span>
      <span class="line left"></span>
      <span class="line rigth"></span>
    </div>
    <ion-button class="signup-btn" expand="block">Ingresar con Emails</ion-button>
    <p class="login">Existe usuario?<a>Login now </a></p>
  </div>
</ion-content>
-->
<ion-content [fullscreen]="true"class="ion-padding">
  <ion-text >
    <h1>Hola Camarada</h1>
    <p>Pilas...... <br></p>
  </ion-text>
  <div class="actions">
    <div class="login-buttons">
      <ion-button color="warning">
        <ion-avatar>
          <img src="../../assets/img/face.png" >
      </ion-avatar>
      <ion-label>Facebook</ion-label>
    </ion-button>
    <ion-button color="medium" routerLink="/buscarmovies">
      <ion-avatar >
        <img src="../../assets/img/google.png" >
    </ion-avatar>
    <ion-label>Google</ion-label>
  </ion-button>
    </div>
    <div class="separator">
      <span>o</span>
      <span class="line left"></span>
      <span class="line right"></span>
    </div>
    <ion-button class="signup-btn" expand="block" routerLink="/perfil">Enter with Emails</ion-button>
    <p class="login">Existe usuario?<a>Login now </a></p>
  </div>
</ion-content>
